<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 权限申请 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ducky"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ducky_round"
        android:theme="@style/Theme.Iwara4a"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        android:largeHeap="true">
        <activity
            android:name=".ui.activity.CrashActivity"
            android:exported="false"
            android:label="@string/title_activity_crash"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Iwara4a" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false"
            android:label="Download File Service" />

        <activity
            android:name=".ui.activity.RouterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode|screenLayout|smallestScreenSize"
            android:exported="true"
            android:launchMode="standard"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.Iwara4a.NoActionBar.Splash"
            android:windowSoftInputMode="adjustResize"
            android:resizeableActivity="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="ecchi.iwara.tv" />
                <data android:pathPrefix="/videos/" />
                <data android:pathPrefix="/images/" />
                <data android:pathPrefix="/users/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="iwara4a" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rerere.iwara4a.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>