name: "Build Commit"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 11

      - run: base ./gradlew assembleRelease

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          path: app/build/outputs/apk/release/*.apk
